@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertine_R.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertine_RB.otf');
    font-weight: 600;
    font-style: normal;
}
